*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}
html,body{
 height:100%;

 font-family:sans-serif;
 cursor: default;

 background: linear-gradient(#fef, #ede);
}
.flex-center{
 justify-content: center;
 align-items: center;
}

.wrapper{
 display:flex;

  @media(min-width:1526px){
  	width:1525px;
  	margin: auto;
  }
  @media(max-width:1525px){
  	width: 100%;
  }

 height:100%;
}

.field{
 display:inline-block;
 position:relative;
 @media(min-width:821px){
		width:820px;
	}
	@media(max-width:820px){
		width: 100%;
	}
 &::before{
   content:"";
   display:block;
   padding-top: 100%;
   opacity:1;
 }
}

.board{
 display: flex;
 flex-direction:column;

 position:absolute;

 top:0;
 left:0;
 right:0;
 bottom:0;

  box-sizing: content-box;
	border: 5px solid #b09995;
	border-radius: 15px;
	overflow:hidden;
}

.playfield{
 display: flex;

 width:100%;
 height:100%;

 background: #ff0;
}

.maze{
  display: inline-block;
	overflow: scroll;

  min-width:75%;
	max-width: 100%;
 background: #69e851;
 position: absolute;
 top:0;
 left:0;
 white-space: pre-wrap;
 font-family: monospace;
 @media(max-width:686px){
		font-size: 1.8vw;
	}
 &::selection{
   background: transparent;
 }
 &::-moz-selection{
   background: transparent;
 }
}

.msg_box{
	background: #ac8091;
	width: 73%;
	height: 23%;
 	overflow-y: scroll;
 	position: absolute;
	bottom: 0;
	left: 0;
 	border: 5px solid #10308b;
 	margin: 1%;
}

.controlpanel{
 display: flex;
 flex-direction: column;

 width: 25%;
 height: 25%;
 position: absolute;
 bottom: 0;
 right:0;

 background: #aab402;
}

.controlrow{
 display:flex;
 width:100%;
 background: #0ff;
}
.controls{
 margin: auto;
 display: flex;
 padding: 5px;
 margin: 5px;
 width: 35%;
 height: 50%;
 position:relative;
 top:0;
 border-radius: 10px;
 background: #de5893;
 box-shadow: 0 10px #bc3671;
 &:active{
   box-shadow: 0 0px #bc3671;
   top: 10px;
 }
}

.circle{
	width:100%;
	height:100%;
	border-radius:50%;
 	background: black;
}

.arrow{
 width:0;
 height:0;
}
.right{
 border-top: 30px solid transparent;
 border-bottom: 30px solid transparent;
 border-right: 0 solid transparent;
 border-left: 35px solid black;
 &:active{
   border-left: 35px solid red;
 }
}
.left{
 border-top: 30px solid transparent;
 border-bottom: 30px solid transparent;
 border-right: 35px solid black;
 border-left: 0px solid transparent;
 &:active{
   border-right: 35px solid red;
 }
}
.up{
 border-top: 0px solid transparent;
 border-bottom: 35px solid black;
 border-right: 30px solid transparent;
 border-left: 30px solid transparent;
 &:active{
   border-bottom: 35px solid red;
 }
}
.down{
 border-top: 35px solid black;
 border-bottom: 0px solid transparent;
 border-right: 30px solid transparent;
 border-left: 30px solid transparent;
 &:active{
   border-top: 35px solid red;
 }
}


.gamesetup{
 display:flex;
 flex-direction: column;
 position:relative;
 z-index: 1;

 height:100%;
 width: 100%;
 background: #75956a;
 // opacity: 0;
}
.setupfieldcontainer{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width:60%;

 text-align: center;

 background:#3c3a54;
 color: #fff;
 height: 55px;

 margin: 1px 0;
 border-radius: 10px;
}

.setupfield{
 width: 100%;
 height:100%;

 /* flex-grow: 1; */
 -moz-appearance: textfield;
 border-style: none;
 border-radius:0 0 10px 10px;

 text-align:center;
 font-size: 1.448em;
 cursor:text;
 color:#aa1abd;
 background: #503be4;
}

.start{
 display:flex;

 position: relative;
 top: 0;

 height: 10%;
 width: 60%;
 background: #0f0;
 margin: 1% 0;
 border-radius: 5px;

 box-shadow: 0 10px #0a0;

 &:active{
   box-shadow: 0 0 #0a0;
   top: 10px;
 }

 transition: 16ms ease-in;
}
