*{
 margin:0;
 padding:0;
}
html,body{
 height:100%;
 box-sizing: border-box;
 box-sizing: border-box;
  font-family:sans-serif;
 font-family:sans-serif;
}
.flex-center{
 justify-content: center;
 align-items: center;
 justify-content: center;
 align-items: center;
}
.wrapper{
 display:flex;
 display:flex;
  width:100%;
 height:100%;
 background: #f0f;
 width:100%;
 height:100%;
 background: #f0f;
}
.field{
 display:block;
 position:relative;
 width: 40%;
 background: #e45b5e;
}
.field::before{
 content:"";
 display:block;
 padding-top: 100%;
 opacity:1;
 display:block;
 position:relative;
 width: 40%;
 background: #e45b5e;
 &::before{
   content:"";
   display:block;
   padding-top: 100%;
   opacity:1;
 }
}
.board{
 display: flex;
 flex-direction:column;
 display: flex;
 flex-direction:column;
  position:absolute;
 position:absolute;
  top:0;
 left:0;
 right:0;
 bottom:0;
 top:0;
 left:0;
 right:0;
 bottom:0;
  background: #152196;
 background: #152196;
}
.playfield{
 display: flex;

 width:100%;
 height:100%;

 background: #ff0;
}

.maze{
 display: flex;
  height: 75%;
 width: 75%;
 background: #69e851;
 position: absolute;
 top:0;
 left:0;
 height: 75%;
 width: 75%;
 background: #69e851;
 position: absolute;
 top:0;
 left:0;
 white-space: pre-wrap;
 font-family: monospace;
}
.controlpanel{
 display: flex;
 flex-direction: column;
 width: 25%;
 height: 25%;
 position: absolute;
 bottom: 0;
 right:0;

 background: #aab402;
}
.controlrow{
 display:flex;
 width:100%;
 background: #0ff;
}
.controls{
 margin: auto;
 width:0;
 height:0;
}
.right{
 border-top: 30px solid transparent;
 border-bottom: 30px solid transparent;
 border-right: 0 solid transparent;
 border-left: 35px solid black;
 &:active{
   border-left: 35px solid red;
 }
}
.left{
 border-top: 30px solid transparent;
 border-bottom: 30px solid transparent;
 border-right: 35px solid black;
 border-left: 0px solid transparent;
 &:active{
   border-right: 35px solid red;
 }
}
.up{
 border-top: 0px solid transparent;
 border-bottom: 35px solid black;
 border-right: 30px solid transparent;
 border-left: 30px solid transparent;
 &:active{
   border-bottom: 35px solid red;
 }
}
.down{
 border-top: 35px solid black;
 border-bottom: 0px solid transparent;
 border-right: 30px solid transparent;
 border-left: 30px solid transparent;
 &:active{
   border-top: 35px solid red;
 }
}
.gamesetup{
 display:flex;
 flex-direction: column;
 position:relative;
 z-index: 1;
 display:flex;
 flex-direction: column;
 position:relative;
 z-index: 1;
  height:100%;
 width: 100%;
 background: #75956a;
 height:100%;
 width: 100%;
 background: #75956a;
 opacity: 0;
 // opacity: 0;
}
.setupfieldcontainer{
 display:flex;
 flex-direction: column;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width:60%;
  text-align: center;
 text-align: center;
 background:#3c3a54;
 color: #fff;
 color: #fff;
 height: 55px;
  margin: 10px 0;
 margin: 10px 0;
 border-radius: 10px;
}
 .setupfield{
 width: 100%;
 height:100%;

 /* flex-grow: 1; */
 -moz-appearance: textfield;
 border-style: none;
 border-radius:0 0 10px 10px;

 text-align:center;
 font-size: 1.448em;

 color:#aa1abd;
 background: #503be4;
}
.start{
 display:flex;
 display:flex;
 position: relative;
 top: 0;
  padding: 10px 0;
 padding: 10px 0;
  height: 20px;
 width: 155px;
 background: #0f0;
 height: 20px;
 width: 155px;
 background: #0f0;
 border-radius: 5px;
  box-shadow: 0 10px #0a0;
 box-shadow: 0 10px #0a0;
 &:active{
   box-shadow: 0 0 #0a0;
   top: 10px;
 }

 transition: 16ms ease-in;
}
